.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.modal.open {
  display: block;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-box {
  position: absolute;
  left: 50%;
  margin-top: 30px;
  transform: translate(-50%, 0);
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 8);
  border-radius: 15px;
}

.modal-header {
  padding: 15px 0;
}

.modal-title {
  font-size: 16px;
  margin: 0 0 0 20px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.modal-close:hover {
  color: rgb(0, 0, 0);
}

.modal-loading {
  text-align: center;
  min-height: 250px;
  line-height: 250px;
}

.output-options {
  overflow: hidden;
  padding: 10px 20px;
}

.output-options > * {
  margin-right: 10px;
}

.output-options label {
  font-size: 13px;
  color: #333;
}

.play-delay-input {
  width: 40px;
  padding: 6px 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #999;
  outline: none;
}

.save-btn {
  float: right;
  margin-right: 0;
}

.output-text-wrapper {
  padding: 20px;
}

.output-text-block {
  max-height: calc(100vh - 200px);
  max-width: 90vw;
  width: max-content;
  margin: 0 auto;
  font-size: 12px;
  line-height: 12px;
  border: 1px solid #333;
  overflow: auto;
}

.output-text-block pre {
  margin: 0;
  padding: 0;
}
